@media (min-width: 768px) {
    .label {
        text-align: right;
    }
    .image {
        width: 48%;
    }
}

@media (max-width: 768px) {
    table tr {
        display: flex;
    }
    .image {
        width: 100%;
    }
}

.responsive-label {
    align-items: center;
}

label {
    padding: calc(var(--universal-padding) / 2) var(--universal-padding);
}
input {
    margin: calc(var(--universal-margin) / 2);
    padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
}