ul.note {
    margin-bottom: 0.8rem;
}

ul.note li {
    font-size: small;
}

.valign-middle {
    vertical-align: middle !important;
}

.title:not(.is-spaced)+.subtitle {
    margin-top: -1.25rem;
}

.image-modal .tingle-modal-box {
    width: 80%;
}

.image-modal .tingle-modal-box__content {
    padding: 0.8rem;
}

.invisible {
    display: none;
}